@import "normalize.css/normalize.css";

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

html {
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;  
  text-wrap: pretty;
  word-spacing: -1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;  

  @include mobile {
    text-align: left;
    word-spacing: 0;
    text-wrap: pretty;
  }
}

article {  
  box-sizing: border-box;
  padding: 0.5in;
  background: white;
  margin: 5px auto;
  position: relative;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);

  @include mobile {
    padding: 0.25in;
    width: 100vw;    
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: normal;
}

ul, ol {
  @include mobile {
    padding-left: 1em;
  }

  li {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

header {
  h1 {
    margin-top: 0;
  }
  
  doc-title {
    display: block;
    font-size: 3em;
  }

  doc-authors {
    display: block;
    font-size: 1.25em;
    margin: 0.25em 0;

    doc-author {
      display: block;      

      doc-author-name {
        &:has(+ doc-author-affiliation):after {
          content: ", "
        }        
      }
    }
  }

  doc-abstract {
    display: block;
    margin: 1em 0;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 4px;
  }
}

section {
  margin: 3em 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

figcaption {  
  display: flex;
  justify-content: center;
  font-style: italic;

  i {
    font-style: normal;
  }
}

figure {
  background-color: #f8f8f8;
  padding: 1em;
  margin: 1.5em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow-x: auto;
  

  img.border {
    border: 1px solid #aaa;
  }

  pre {
    margin: 0;
  }

  figure {
    margin-top: 0;    
    padding: 0;
    border: none;
    overflow-x: visible;

    &:last-child {
      margin-bottom: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

div.callout {
  background: #fffad3;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}

a {
  text-decoration: none;

  &[href]:hover {
    text-decoration: underline;
  }
}

mark, ::highlight(bene) {
  background-color: yellow;
}