@import "normalize.css/normalize.css";

:root {
  --toolbar-bg-color: rgb(249, 249, 250);
  --toolbar-border-color: rgb(184, 184, 184);
  --toolbar-sidebar-toggle-icon: url("../img/toolbarButton-sidebarToggle.svg");
  --toolbar-download-icon: url("../img/toolbarButton-download.svg");
  --toolbar-page-down-icon: url("../img/toolbarButton-pageDown.svg");
  --toolbar-page-up-icon: url("../img/toolbarButton-pageUp.svg");
  --toolbar-zoom-in-icon: url("../img/toolbarButton-zoomIn.svg");
  --toolbar-zoom-out-icon: url("../img/toolbarButton-zoomOut.svg");
  --toolbar-open-file-icon: url("../img/toolbarButton-openFile.svg");
  --toolbar-icon-bg-color: rgb(0, 0, 0);
  --toolbar-box-shadow: 0 1px 0 var(--toolbar-border-color);
  --button-hover-color: rgb(221, 222, 223);
  --separator-color: rgba(0, 0, 0, 0.3);
  --dropdown-btn-bg-color: rgb(215, 215, 219);
  --body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --body-bg-color: rgb(238, 238, 238);
  --field-border-color: rgb(187, 187, 188);
  --field-color: rgb(6, 6, 6);
  --field-bg-color: white;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

.loader-container {
  margin: 48vh auto 0;
  color: var(--separator-color);

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  .loader {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0, 0, 0, 0.2);
    border-right: 1.1em solid rgba(0, 0, 0, 0.2);
    border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid black;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.epub {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  position: absolute;
  left: 0;
  top: 0;
  font-family: var(--body-font);
  font-size: 14px;
  background-color: var(--body-bg-color);

  .icon-button {
    min-width: 16px;
    min-height: 16px;
    position: relative;
    box-sizing: border-box;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--button-hover-color);
    }

    &::before {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      content: "";
      mask-size: cover;
      background-color: var(--toolbar-icon-bg-color);
      top: 0;
      left: 0;
    }

    &.sidebar-toggle::before {
      mask-image: var(--toolbar-sidebar-toggle-icon);
    }

    &.zoom-out::before {
      mask-image: var(--toolbar-zoom-out-icon);
    }

    &.zoom-in::before {
      mask-image: var(--toolbar-zoom-in-icon);
    }

    &.page-down::before {
      mask-image: var(--toolbar-page-down-icon);
    }

    &.page-up::before {
      mask-image: var(--toolbar-page-up-icon);
    }

    &.download::before {
      mask-image: var(--toolbar-download-icon);
    }

    &.open-file::before {
      mask-image: var(--toolbar-open-file-icon);
    }
  }

  .toolbar {
    background-color: var(--toolbar-bg-color);
    height: 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--toolbar-box-shadow);
    position: relative;
    z-index: 1000;

    > div {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 0 3px;
    }

    .icon-button {
      width: 28px;
      height: 28px;
      padding: 2px 6px 0;
      border: none;
      border-radius: 2px;
      user-select: none;
      position: relative;

      &::before {
        top: 6px;
        left: 6px;
      }
    }

    .toolbar-left {
      padding-left: 2px;
    }

    .toolbar-middle {
      flex: 0 0 auto;
    }

    .toolbar-right {
      padding-right: 2px;
    }

    .toolbar-button-spacer {
      width: 30px;

      @include mobile {
        width: 10px;
      }
    }

    .split-toolbar-button-separator {
      width: 1px;
      height: 20px;
      background-color: var(--separator-color);
      margin: 6px 0;
    }

    input[type=number] {
      appearance: textfield;
      text-align: end;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    select {
      background-color: var(--dropdown-btn-bg-color);
      padding: 4px 6px;
      appearance: none;
      border: 0;
      border-radius: 0;
    }

    .page-input {
      border: 1px solid var(--field-border-color);
      border-radius: 2px;
      background-color: var(--field-bg-color);
      color: var(--field-color);
      padding: 4px 7px;
      width: 40px;
    }

    .label {
      margin-left: 5px;
    }
  }

  .viewer {
    display: flex;
    height: calc(100vh - 32px);
    height: calc(100dvh - 32px);

    @include mobile {
      overflow-x: hidden;
    }

    iframe {
      display: block;
      border: none;
      height: calc(100vh - 32px);
      height: calc(100dvh - 32px);
      box-sizing: border-box;
      width: 100%;
      position: relative;
    }

    .nav {
      --nav-width: 300px;
      @include mobile {
        --nav-width: 200px;
      }

      width: 0;
      transition: 0.25s width;
      box-shadow: inset -1px 0 0 rgb(0 0 0 / 0.25);

      &.show {
        width: var(--nav-width);
      }
    }

    .content {
      z-index: 1; // hack to solve rendering issue w/ TOC on safari

      @include mobile {
        min-width: 100vw;
        min-width: 100dvw;
      }
    }
  }
}