@import "normalize.css/normalize.css";

:root {
  --treeitem-color: rgba(0, 0, 0, 0.8);
  --treeitem-bg-color: rgba(0, 0, 0, 0.15);
  --treeitem-hover-color: rgba(0, 0, 0, 0.9);
}

nav {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  color: var(--treeitem-color);
  padding: 0 1em;
  width: 300px;
  box-sizing: border-box;

  ol {
    padding: 0;
    
    ol {
      padding-left: 1em;
    }
    
    li {
      padding: 0;
      margin: 0;
      list-style-type: none;

      a {
        display: block;
        padding: 0.25em;
        text-decoration: none;
        color: var(--treeitem-color);

        &:hover {
          color: var(--treeitem-hover-color);
          background-color: var(--treeitem-bg-color);
          border-radius: 4px;
        }
      }
    }
  }
}
