@import "normalize.css/normalize.css";

:root {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

body {
  overflow: hidden;
}

iframe {
  width: 100dvw;
  height: 100dvh;
  border: 0;
  display: block;
}