[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.dependencies]
anyhow = "1.0.100"
serde = { version = "1.0.228", features = ["derive"] }
log = "0.4.20"
quick-xml = { version = "0.38.3", features = ["serialize"] }
