[package]
name = "rs-utils"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
console_error_panic_hook = "0.1.7"
wasm-bindgen = "0.2.89"
wasm-bindgen-futures = "0.4.39"
tokio = { version = "1.35.0", default-features = false, features = ["rt"] }
js-sys = "0.3.66"
serde_json = "1.0.108"

[dependencies.bene-epub]
path = "../../../../rs/crates/bene-epub"
default-features = false
features = ["wasm"]
