name: Setup
runs:
  using: composite
  steps:
    - name: Install Just
      uses: extractions/setup-just@v3

    - name: Install wasm-pack
      uses: baptiste0928/cargo-install@v3
      with:
        crate: wasm-pack

    - name: Install Tauri CLI
      uses: baptiste0928/cargo-install@v3
      with:
        crate: tauri-cli
        version: "^2.9.6"

    - name: Install Depot
      uses: cognitive-engineering-lab/depot/actions/install@main

    - name: Install system dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update -y
        sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      shell: bash

    - name: Generate TS bindings
      run: just gen-bindings
      shell: bash
