name: CI

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"
  pull_request:
    branches:
      - "**"

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - uses: extractions/setup-just@v3

      - name: Install wasm-pack
        uses: baptiste0928/cargo-install@v2
        with:
          crate: wasm-pack

      - name: Install Depot
        uses: cognitive-engineering-lab/depot/actions/install@main

      - name: Install system dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libgtk-3-dev libjavascriptcoregtk-4.1-dev libsoup-3.0-dev libwebkit2gtk-4.1-dev

      - name: Tests
        run: just test

      - name: Build Wasm package
        run: |
          cd epubs && ./make-epub.sh portable-epubs && cd ..
          cd js && mkdir -p packages/bene-web/public/epubs/ && ln -s $PWD/../epubs/portable-epubs.epub packages/bene-web/public/epubs/
          cd .. && just build-wasm

      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: js/packages/bene-web/dist